body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;

    > #settingsBtn {
        position: absolute;
        margin: 20px;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    > #settingsPanel {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        flex-direction: column;

        > .settings-panel-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: bold;
        }

        > .settings-panel-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            > .theme-selector {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 50px;
            }
        }

        > .settings-panel-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    > #gameOverPanel {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 12px;
        z-index: 1000;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > .game-over-panel-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px;

            > a {
                align-items: center;
                display: flex;
                cursor: pointer;
            }
        }
    }

    > #themePanel {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        flex-direction: column;
        background-color: black;
        align-items: center;
        color: white;
        .theme-panel-header {
            padding: 10px;
            font-weight: bold;
        }
        .theme-panel-body {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        .theme-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 280px;
            gap: 40px;
        }
        .theme-item {
            width: 120px;
            height: 130px;
            cursor: pointer;
        }

        .theme-item-view {
            height: 120px;
        }

    }
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 10px 50px;

    > span {
        display: block;
    }
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}