body {
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;

    > #settingsBtn {
        position: absolute;
        margin: 20px;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    > #settingsPanel {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        background: white;
        border: 1px solid #ccc;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    > #settingsPanel {
        display: flex;
        flex-direction: column;
        > .settings-panel-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            font-size: 20px;
            font-weight: bold;
        }
        > .settings-panel-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            > .theme-selector {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 50px;
            }
        }
        > .settings-panel-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto 20px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 18px;
    padding: 0 20px;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}